---
import IconChevronForward from "../@commons/icons/IconChevronForward.astro"
import ModuleContent from "./ModuleContent.astro"

import data from "./data.json"
---

<style lang="scss">
  .summary-item {
    @apply border-b-2 border-downriver;
  }

  .opener {
    @apply p-5 w-full flex items-center text-lg font-bold;
  }

  .opener .right-icon :global(svg) {
    transform: rotate(90deg);
    transform-origin: center center;
    transition: 100ms ease-out;

    @screen md {
      transform: rotate(0deg);
    }
  }

  .opener[aria-expanded=true] {
    @apply bg-canary;
  }

  .opener[aria-expanded=true] {
    & ~ .accordion-content {
      @apply bg-canary;
    }

    .right-icon :global(svg) {
      transform: rotate(270deg);

      @screen md {
        transform: rotate(0deg);
      }
    }
  }

  .opener[aria-expanded=false] {
    & ~ .accordion-content {
      height: 0;
      overflow: hidden;
    }
  }
</style>

<h2 class="px-[20px] mb-10 text-2xl font-serif xl:mb-16 xl:text-[34px]">Sommaire</h2>

<div class="border-t-2 border-downriver md:flex">
  <ul class="md:w-[290px]">
    {data.items.map((item, index) => (
      <li class="summary-item">
        <button
          id={`module${index}_opener`}
          aria-expanded="false"
          aria-controls={`module${index}_content`}
          data-content-target={`module${index}`}
          class="opener"
        >
          {item.title}
          <span class="right-icon ml-auto">
            <IconChevronForward />
          </span>
        </button>

        <div class="accordion-content">
          <ModuleContent
            index={index}
            title={item.content.title}
            items={item.content.items}
            toolbox={item.content.toolbox}
          />
        </div>
      </li>
    ))}
  </ul>
  <div
    id="sommaire-desktop-wrapper"
    class="hidden md:block md:flex-1 bg-white"
  >
    <!--
      Empty div.
      Content is copied here by JavaScript when user reach desktop breakpoint.
    -->
  </div>
</div>

<script src={Astro.resolve('./index.ts')}></script>
